
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:    #B58900 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #D33682 !default;
$orange:  #fd7e14 !default;
$yellow:  #CB4B16 !default;
$green:   #2AA198 !default;
$teal:    #20c997 !default;
$cyan:    #268BD2 !default;

.blue {
 color: $blue
}

.indigo {
    color: $indigo
   }

.purple {
    color: $purple
   }

.pink {
    color: $pink
   }

.red  {
    color: $red
   }

.orange {
    color: $orange
   }

.yellow {
    color: $yellow
   }

.green  {
    color: $green
   }

.teal  {
    color: $teal
   }

.cyan  {
    color: $cyan
   }
